
<ion-header transparent>
  <ion-navbar>
    <button slot="start" ion-button clear (click)="backBtn()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div padding>
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/imgs/ratu.png" />
        <h2 text-center>RATU SAFETY INDONESIA</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset class="no-border">
          <ion-item>
            <ion-input type="text" [(ngModel)]="userLogin.email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" [(ngModel)]="userLogin.password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="login-button" (click)="login()">Login</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div (click)="register()">
          <span>Or create a new account ?</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
  