<!--
  Generated template for the StatusPesananPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Status Pesanan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let result of dataPesanan">
    <ion-item-divider color="light" text-right>
      <p item-start>{{result.kode_pembayaran}}</p>
      <p> {{result.date | date: 'dd-MMM-yyyy HH:mm a'}}</p>
    </ion-item-divider>
    <ion-item>
      <!-- <h2>{{result.kode_pembayaran}}</h2> -->
      <ion-avatar item-start>
        <img src="http://murihat.com/dora/images/product/{{result.gambar}}">
      </ion-avatar>
      <p>{{result.nama_produk}}</p>
      <p>Quantity : {{result.qty}}</p>
      <p>Harga : Rp. {{result.total | number : fractionSize}}</p>
    </ion-item>
    <ion-item text-center>
      <button ion-button color="secondary" outline>Complete Payment</button>
    </ion-item>
  </ion-item-group>
</ion-content>
