page-status-pesanan {
    ion-item-group{
        margin:5px;
        border: 1px solid #ccc;
    }

    .item-inner{
        border-bottom: unset !important;
    }

    ion-avatar img{
        border-radius: unset !important;
        width: 80px !important;
        height: 80px !important;
        border: 1px solid #ccc;
    }

    p{
        white-space: normal !important;
    }
}
