<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>My Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="cart" *ngFor="let item of dataCart">
      <ion-item>
        <div class="gambar">
          <img src="http://murihat.com/dora/images/product/{{item.gambar}}"/>
          <!-- <img [defaultImage]="'assets/imgs/loader.gif'" [lazyLoad]="item.photo_url+item.photo_base64" *ngIf="item.photo_base64" [scrollObservable]="container.ionScroll"/>
          <img [defaultImage]="'assets/imgs/loader.gif'" [lazyLoad]="'assets/imgs/no-images.png'" *ngIf="!item.photo_base64" [scrollObservable]="container.ionScroll"/> -->
        </div>
        <h2>{{item.nama_produk}}</h2>
        <p class="price">Rp. {{item.total | number : fractionSize}}</p>
        <div class="quantity">
          <button ion-button (click)="qty(0,item)"> - </button>
          <span class="qty">{{item.qty}}</span>
          <button ion-button (click)="qty(1,item)"> + </button>
        </div>
        <button ion-button clear item-end (click)="deleteCart(item)">
          <ion-icon class="trash" ios="ios-trash" md="md-trash" color="danger"></ion-icon>
        </button>
      </ion-item>
      <!-- <h2 text-center *ngIf="!status" style="font-size: 36px !important">Data Not Found!</h2> -->
    </div>
  </ion-list>
 
</ion-content>



<ion-footer>
  <div class="totalharga">
    <div class="text">
      <p>Total Harga </p>
    </div>
    <div class="harga">
      <p>Rp. {{totalHarga | number : fractionSize}}</p>
    </div>
  </div>
  <button ion-button block color="darksecondary" text-center (click)="buyNow()">
    Check Out
  </button>
</ion-footer>
  