page-cart {
    .list-md{
        padding: 5px;
    }

    .cart{
        border: 1px solid #cccccc;
        margin-bottom: 10px;
        // padding: 0 5px;
    }

    .item-inner{
        border-bottom: unset !important;
    }

    .item-md{
        padding-left: unset;
        // box-shadow: 0 0 1px rgb(192, 192, 192);
        margin-bottom: 10px;
    }

    .gambar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 120px;
        overflow: hidden;
        float:left;
        margin: 0 5px;
        border: 1px solid #d6d6d6;
        padding: 2px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    h2{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px !important;
    }

    .price{
        color: lightseagreen;
        margin-top: 10px;
    }

    .quantity{
        display: flex;

        .button-md{
            border-radius: 100%;
            width: 28px;
            height: 28px;
        }

        .qty{
            align-content: center;
            align-items: center;
            vertical-align: middle;
            justify-content: center;
            align-self: center;
            margin:0 10px;
            font-size: 18px;
        }
    }

    .trash{
        font-size: 28px;
    }

    .calc{
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #dedede;
        margin-bottom: 10px;

        p{
            margin: unset;
            font-weight: bold;
        }

        .text{
            flex-grow: 10;
            p{
                margin-bottom: 5px;
            }
        }

        .harga{
            text-align: right;

            .temporary{
                color: rgb(5, 13, 31);
                margin-bottom: 5px;
            }
            .adminfee{
                color: rgb(5, 13, 31);
            }
        }
    }


    .totalharga{
        display: flex;
        padding:10px;
        padding-bottom: 10px;
        background: #ffffff;

        p{
            margin: unset;
            font-weight: bold;
        }

        .text{
            flex-grow: 10;
        }

        .harga{
            p {
                color: #119126;
                font-size: 16px;
            }
        }
    }

    ion-icon{
        font-size: 16px;
    }


    .shipping{
        padding: 5px;
        padding-bottom: unset;
        border-bottom: 1px solid #cccccc;

        .address {
            // border-radius: 30px !important;
            // padding-left: 10px !important;
            // margin-bottom: 10px;
            background: #b1b1b1;
            opacity: 0.7;
            font-size: 1em;
            border-bottom: unset;
          }
          .check{
            // padding-left: 10px !important;

            ion-label{
                color: #b1b1b1
            }
             .checkbox-md{
                margin:unset;
                margin-right: 10px;
            }
          }
          ion-list {
            margin: 0;
          }

          ::-webkit-input-placeholder {
            color: rgb(255, 247, 247) !important;
          }
    
        .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner{
            border-bottom: 1px solid #dedede;
        }
    
        .same{
            margin-bottom:20px;
            display: flex;
            padding: 5px;
            span{
                margin-left: 10px;
            }
        }
    }


}
