page-my-profile {
    .row{
        display: flex;
        border-radius: 3px !important;
        padding-left: 10px !important;
        margin-bottom: 15px !important;
        margin-bottom: 10px;
        color: rgb(255, 255, 255) !important;
        background-color: rgba(29, 28, 28, 0.5) !important;
        font-size: 0.9em;

        ion-icon{
            vertical-align: middle;
            align-items: center;
            align-content: center;
            display: flex;     
            margin-right: 10px;   
            font-size: 18px;
        }
    }

    ::-webkit-input-placeholder {
        color: rgb(255, 255, 255) !important;
    }

    .text-input-md{
        font-size: 16px;
    }
}
