<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Ratu Safety Indonesia</ion-title>
    <ion-buttons right>
      <button ion-button icon-only class="cart" (click)="cart()">
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
          <ion-badge color="danger" *ngIf="badgeCart > 0">{{badgeCart}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to reload..."
    refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <div class="banner">
    <ion-slides autoplay="5000" loop="true" speed="500" autoplayDisableOnInteraction="false" centeredSlides>
      <ion-slide>
        <div class="slide-img">
          <img src="assets/imgs/slider-1.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-img">
          <img src="assets/imgs/slider-2.jpg">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide-img">
          <img src="assets/imgs/slider-3.jpg">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
    

  <ion-card class="home-product" *ngFor="let result of dataProduk" (click)="detailProduk(result)">
    <div class="gambar">
      <img src="http://murihat.com/dora/images/product/{{result.gambar}}"/>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{result.nama_produk}}
      </ion-card-title>
      <p>
        Rp. {{result.harga | number : fractionSize}}
      </p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-fab bottom right edge>
    <button ion-fab mini><ion-icon name="search"></ion-icon></button>
  </ion-fab> -->


  <ion-fab bottom right edge>
    <button ion-fab mini (click)="filter()"><ion-icon name="md-list"></ion-icon></button>
    <!-- <ion-fab-list side="top">
      <button ion-fab><ion-icon name="md-funnel" (click)="filter()"></ion-icon></button> -->
      <!-- <button ion-fab><ion-icon name="search"></ion-icon></button> -->
    <!-- </ion-fab-list> -->
  </ion-fab>
</ion-content>
