page-home {
    .toolbar-title-md{
        padding: unset !important;
    }

    .banner{
        margin: 10px;
    }

    .cart{
        margin-right: 8px;

        ion-icon{
            font-size: 26px;
            margin: 0 auto;
        }
        .badge-md{
            border-radius: 100%;
            color: #fff;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
            font-size: 12px;
            position: absolute;
            left: 18px;
            top: -5px;
            z-index: 99;
        }
    }

    .card-md{
        margin: unset;
    }


    .home-product{
        display: inline-block;
        width: calc(50% - 20px);
        float: left;
        margin: 8px;

        .gambar{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 180px;
            overflow: hidden;
            position: relative;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        ion-card-title{
            font-size: 14px;
            line-height: 18px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 45px;
            margin: 0;
        }

        p{
            color: rgb(7, 102, 7);
            font-size: 16px;
        }
    }

    ion-fab[bottom]{
        bottom: 0 !important;
    }


}
