<ion-menu [content]="content">
<ion-header class="header-side" *ngIf="user">
    <ion-card class="side-menu-style" color="primary">
        <ion-card-content text-center>
            <img src="assets/imgs/ratu.png" class="logo">
            <p class="title">Ratu Safety Indonesia</p>
            <p>{{user.nama}}</p>
            <p>{{user.email}}</p>
        </ion-card-content>
    </ion-card>
</ion-header>
<ion-header class="header-side" *ngIf="!user">
    <ion-card-content text-center>
        <img src="assets/imgs/ratu.png" class="logo">
        <p class="title">Ratu Safety Indonesia</p>
        <button ion-button color="light" block (click)="login()">Silahkan Login</button>
    </ion-card-content>  
</ion-header>
<ion-content>
    <ion-list>
    <button ion-item (click)="myprofile()" *ngIf="user">
        My Profile
    </button>
    <button ion-item (click)="statusPesanan()" *ngIf="user">
        Status Pesanan
    </button>
    <button ion-item (click)="openPage(eventsPage)">
        Privacy Police
    </button>
    <button ion-item (click)="openPage(eventsPage)">
        Help Support
    </button>
    <button ion-item (click)="openPage(eventsPage)">
        About
    </button>
    <button ion-item (click)="logout()" *ngIf="user">
        Logout
    </button>
    </ion-list>
</ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>