page-checkout {
    .item-md{
        padding-left: unset !important;

    }

    .item-inner{
        padding-right: unset !important;
    }

    .gambar{
        width: 150px;
        height: 50px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .bank{
        ion-icon{
            color: #cccccc;
        }
    }
    

    
}
