<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="bank">
    <button ion-item (click)="payNow('BCA')">
      <div class="gambar">
        <img src="assets/imgs/bca.png">
      </div>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" item-end></ion-icon>
    </button>  
    <button ion-item (click)="payNow('Mandiri')">
      <div class="gambar">
        <img src="assets/imgs/mandiri.png" >
      </div>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" item-end></ion-icon>
    </button> 
    <button ion-item (click)="payNow('BNI')">
      <div class="gambar">
        <img src="assets/imgs/bni.png">
      </div>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" item-end></ion-icon>
    </button> 
    <button ion-item (click)="payNow('BRI')">
      <div class="gambar">
        <img src="assets/imgs/bri.png">
      </div>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" item-end></ion-icon>
    </button> 
    <button ion-item (click)="payNow('CIMB')">
      <div class="gambar">
        <img src="assets/imgs/cimb.png">
      </div>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" item-end></ion-icon>
    </button> 
    <button ion-item (click)="payNow('Mandiri Syariah')">
      <div class="gambar">
        <img src="assets/imgs/syariah.png" >
      </div>
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward" item-end></ion-icon>
    </button> 
  </ion-list>
</ion-content>
