<!--
  Generated template for the RegistrasiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Registrasi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding class="form-register">
    <div class="row">
        <ion-input type="text" [(ngModel)]="data.namaPerusahaan" placeholder="Nama Perusahaan..."></ion-input>
    </div>
    <div class="row">
        <ion-input type="text" [(ngModel)]="data.namaAnda" placeholder="Nama Anda..."></ion-input>
    </div>
    <div class="row">
      <ion-input type="text" [(ngModel)]="data.jabatan" placeholder="Jabatan Anda..."></ion-input>
    </div>
    <div class="row">
      <ion-input type="text" [(ngModel)]="data.noHp" placeholder="Nomor Handphone..."></ion-input>
    </div>   
    <div class="row">
      <ion-textarea [(ngModel)]="data.alamat" rows="2" placeholder="Alamat Anda..."></ion-textarea>
    </div>
    <div class="row">
      <ion-input type="email" [(ngModel)]="data.email" placeholder="Email Anda..."></ion-input>
    </div>
    <div class="row">
        <ion-input [type]="passwordType" [(ngModel)]="data.password" placeholder="Your Password..."></ion-input>
        <ion-icon [name]="passwordIcon" (click)="hideShowPassword()"></ion-icon>
    </div>
    <button ion-button block outline (click)="register()" color="primary" class="login-button">Registrasi</button>
  </div>
</ion-content>
