<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detail Product</ion-title>
    <ion-buttons right>
      <button ion-button icon-only class="cart" (click)="cart()">
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
          <ion-badge color="danger" *ngIf="badgeCart > 0">{{badgeCart}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="http://murihat.com/dora/images/product/{{dataDetail.gambar}}"/>
    <ion-card-content>
      <ion-card-title>
        {{dataDetail.nama_produk}}
        <p class="price">
          Rp. {{dataDetail.harga | number : fractionSize}}
        </p>
      </ion-card-title>
      <p text-justify>
        {{dataDetail.deskripsi}}
      </p>

      <ion-list class="no-border">
        <ion-item class="row">
          <ion-input type="text" [(ngModel)]="pesan.ukuran" placeholder="Ukuran / Size"></ion-input>
        </ion-item>
        <ion-item class="row">
          <ion-input type="number" [(ngModel)]="pesan.quantity" placeholder="Quantity"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <button ion-button block class="addtocart" (click)="addToCart()">Add To Cart</button>
  </ion-card>
</ion-content>
