page-detail {

    .cart{
        margin-right: 8px;

        ion-icon{
            font-size: 26px;
            margin: 0 auto;
        }
        .badge-md{
            border-radius: 100%;
            color: #fff;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
            font-size: 12px;
            position: absolute;
            left: 18px;
            top: -5px;
            z-index: 99;
        }
    }

    .price{
        color: rgb(7, 102, 7);
        font-size: 22px !important;
    }

    .addtocart{
        margin: 0;
    }

    .list-md{
        margin-top: 12px;
    }

    .row{
        display: flex;
        border-radius: 3px !important;
        padding-left: 10px !important;
        margin-bottom: 15px !important;
        margin-bottom: 10px;
        color: rgb(255, 255, 255) !important;
        background-color: rgba(29, 28, 28, 0.5) !important;
        font-size: 0.9em;

        ion-icon{
            vertical-align: middle;
            align-items: center;
            align-content: center;
            display: flex;     
            margin-right: 10px;   
            font-size: 18px;
        }
    }

    ::-webkit-input-placeholder {
        color: rgb(255, 255, 255) !important;
    }

    .text-input-md{
        font-size: 16px;
    }
}
