<!--
  Generated template for the KategoriPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Kategori</ion-title>
    <ion-buttons right>
      <button ion-button (click)="dismiss(false)" color="light">
          <ion-icon name="close" class="close-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item (click)="itemSelected()">
      All
      <ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline" item-end></ion-icon>
    </button>  
    <button ion-item *ngFor="let result of category_menu" (click)="itemSelected(result)">
      {{ result.nama }}
      <ion-icon ios="ios-arrow-forward-outline" md="ios-arrow-forward-outline" item-end></ion-icon>
    </button>  
  </ion-list>
</ion-content>
