page-pay-now {
    .info{
        
        .gambar{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 80px;
            overflow: hidden;
            float:left;
            margin: 0 5px;
            border: 1px solid #d6d6d6;
            padding: 2px;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .price{
            color: green;
        }
    }

    .bank{
        .price{
            color: green;
            font-size: 22px !important;
        }
    }

    .pay{
        padding: 22px 0 !important;
        font-size: 22px !important;

    }

    .address{
        p{
            white-space: normal;
        }

        .button-md{
            padding: 20px 0;
        }
    }
}
