<!--
  Generated template for the PayNowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pay Now</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="info" *ngFor="let item of data">
      <div class="gambar">
        <img src="http://murihat.com/dora/images/product/{{item.gambar}}"/>
      </div>
      <h2>{{item.nama_produk}}</h2>
      <span class="qty"> Quantity : {{item.qty}}</span>
      <p class="price">Rp. {{item.total | number : fractionSize}}</p>
    </ion-item>
  </ion-card>

  <ion-card class="address">
    <ion-item>
      <h2>Address Shipping</h2>
      <p *ngIf="userLogin.alamat !== ''">{{userLogin.alamat}}</p>
      <button ion-button block (click)="addAddress()" *ngIf="userLogin.alamat == ''">Add Addres</button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="bank">
      <p>Bank </p>
      <p item-end>{{metode}}</p>
    </ion-item>
    <ion-item class="bank">
      <p>Total Harga </p>
      <p class="price" item-end> Rp. {{totalHarga | number : fractionSize}}</p>
    </ion-item>
    <ion-item>
      <button ion-button block color="secondary" class="pay" (click)="paynow()">PAY NOW</button>
    </ion-item>
  </ion-card>
</ion-content>
